<form action="/tudo" method="post">
    <input type="hidden" name="_method" value="put">

    <input type="text" name="nome" placeholder="Nome">
    <input type="text" name="idade" placeholder="Idade">
    <input type="text" name="cidade" placeholder="Cidade">

    <button>Substituir perfil</button>
</form>